<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238575568272-blmnafa48gu4aencp7d16fojt8cdspu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238575568272-blmnafa48gu4aencp7d16fojt8cdspu3</string>
	<key>API_KEY</key>
	<string>AIzaSyA-U4QLxR9KZvpagvnI9paGTlRQfUnisgI</string>
	<key>GCM_SENDER_ID</key>
	<string>238575568272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hipal.co.hipal</string>
	<key>PROJECT_ID</key>
	<string>hipal-dc573</string>
	<key>STORAGE_BUCKET</key>
	<string>hipal-dc573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238575568272:ios:9db5c1f28dffd3397d9f15</string>
</dict>
</plist>